In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
!wget https://www.ucsusa.org/sites/default/files/2021-02/UCS-Satellite-Database-1-1-2021.xls

--2021-02-15 18:00:48--  https://www.ucsusa.org/sites/default/files/2021-02/UCS-Satellite-Database-1-1-2021.xls
Resolving www.ucsusa.org (www.ucsusa.org)... 104.26.9.151, 172.67.69.98, 104.26.8.151, ...
Connecting to www.ucsusa.org (www.ucsusa.org)|104.26.9.151|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2003456 (1.9M) [application/vnd.ms-excel]
Saving to: ‘UCS-Satellite-Database-1-1-2021.xls’

UCS-Satellite-Datab 100%[===================>]   1.91M  --.-KB/s    in 0.05s

2021-02-15 18:00:48 (41.3 MB/s) - ‘UCS-Satellite-Database-1-1-2021.xls’ saved [2003456/2003456]

In [ ]:
df = pd.read_excel('/content/UCS-Satellite-Database-1-1-2021.xls')
df.head(10)

                  Name of Satellite, Alternate Names  ... Unnamed: 66
0  1HOPSAT-TD (1st-generation High Optical Perfor...  ...         NaN
1                                             3Cat-1  ...         NaN
2                                           Aalto-1   ...         NaN
3                                           AAUSat-4  ...         NaN
4                           ABS-2 (Koreasat-8, ST-3)  ...         NaN
5                                             ABS-2A  ...         NaN
6                                            ABS-3A   ...         NaN
7  ABS-4 (ABS-2i, MBSat, Mobile Broadcasting Sate...  ...         NaN
8  ABS-6 (ABS-1, LMI-1, Lockheed Martin-Intersput...  ...         NaN
9                    ABS-7 (Koreasat 3, Mugungwha 3)  ...         NaN

[10 rows x 67 columns]

In [ ]:
df.columns

Index(['Name of Satellite, Alternate Names',
       'Current Official Name of Satellite', 'Country/Org of UN Registry',
       'Country of Operator/Owner', 'Operator/Owner', 'Users', 'Purpose',
       'Detailed Purpose', 'Class of Orbit', 'Type of Orbit',
       'Longitude of GEO (degrees)', 'Perigee (km)', 'Apogee (km)',
       'Eccentricity', 'Inclination (degrees)', 'Period (minutes)',
       'Launch Mass (kg.)', 'Dry Mass (kg.)', 'Power (watts)',
       'Date of Launch', 'Expected Lifetime (yrs.)', 'Contractor',
       'Country of Contractor', 'Launch Site', 'Launch Vehicle',
       'COSPAR Number', 'NORAD Number', 'Comments', 'Unnamed: 28',
       'Source Used for Orbital Data', 'Source', 'Source.1', 'Source.2',
       'Source.3', 'Source.4', 'Source.5', 'Source.6', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46', 'Unnamed: 47', 'Unnamed: 48', 'Unnamed: 49',
       'Unnamed: 50', 'Unnamed: 51', 'Unnamed: 52', 'Unnamed: 53',
       'Unnamed: 54', 'Unnamed: 55', 'Unnamed: 56', 'Unnamed: 57',
       'Unnamed: 58', 'Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61',
       'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65',
       'Unnamed: 66'],
      dtype='object')

In [ ]:
required_columns = ['Name of Satellite, Alternate Names','Current Official Name of Satellite', 'Country/Org of UN Registry',
       'Country of Operator/Owner', 'Operator/Owner', 'Users', 'Purpose',
       'Detailed Purpose', 'Class of Orbit', 'Type of Orbit',
       'Longitude of GEO (degrees)', 'Perigee (km)', 'Apogee (km)',
       'Eccentricity', 'Inclination (degrees)', 'Period (minutes)',
       'Launch Mass (kg.)', 'Dry Mass (kg.)', 'Power (watts)',
       'Date of Launch', 'Expected Lifetime (yrs.)', 'Contractor',
       'Country of Contractor', 'Launch Site', 'Launch Vehicle',
       'COSPAR Number', 'NORAD Number', 'Comments',]

featuredDataset = df[required_columns]
featuredDataset.head()

                  Name of Satellite, Alternate Names  ...                                           Comments
0  1HOPSAT-TD (1st-generation High Optical Perfor...  ...  Pathfinder for planned earth observation const...
1                                             3Cat-1  ...                                     Student built.
2                                           Aalto-1   ...              Technology development and education.
3                                           AAUSat-4  ...                                Carries AIS system.
4                           ABS-2 (Koreasat-8, ST-3)  ...  32 C-band, 51 Ku-band, and 6 Ka-band transpond...

[5 rows x 28 columns]

In [ ]:
newDataset = featuredDataset[featuredDataset['Operator/Owner']=='SpaceX']
features = ['Current Official Name of Satellite', 'Country/Org of UN Registry',
       'Country of Operator/Owner', 'Users',
         'Class of Orbit', 'Type of Orbit',
       'Longitude of GEO (degrees)', 'Perigee (km)', 'Apogee (km)',
       'Eccentricity', 'Inclination (degrees)', 'Period (minutes)',
       'Launch Mass (kg.)',
       'Date of Launch', 'Expected Lifetime (yrs.)', 'Contractor',
       'Country of Contractor', 'Launch Site', 'Launch Vehicle',
       'COSPAR Number', 'NORAD Number',]
finalDf = newDataset[features]

In [ ]:
newDataset.head()

     Name of Satellite, Alternate Names  ...                                           Comments
2117                      Starlink-1007  ...  Second launch of 60 satellites for SpaceX cons...
2118                      Starlink-1008  ...                                                NaN
2119                      Starlink-1009  ...                                                NaN
2120                      Starlink-1010  ...                                                NaN
2121                      Starlink-1011  ...                                                NaN

[5 rows x 28 columns]

In [ ]:
newDataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 902 entries, 2117 to 3018
Data columns (total 28 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Name of Satellite, Alternate Names  902 non-null    object
 1   Current Official Name of Satellite  902 non-null    object
 2   Country/Org of UN Registry          902 non-null    object
 3   Country of Operator/Owner           902 non-null    object
 4   Operator/Owner                      902 non-null    object
 5   Users                               902 non-null    object
 6   Purpose                             902 non-null    object
 7   Detailed Purpose                    0 non-null      object
 8   Class of Orbit                      902 non-null    object
 9   Type of Orbit                       902 non-null    object
 10  Longitude of GEO (degrees)          902 non-null    float64
 11  Perigee (km)                        902 non-null    float64
 12  Apogee (km)                         902 non-null    float64
 13  Eccentricity                        902 non-null    float64
 14  Inclination (degrees)               902 non-null    float64
 15  Period (minutes)                    902 non-null    float64
 16  Launch Mass (kg.)                   902 non-null    float64
 17  Dry Mass (kg.)                      0 non-null      object
 18  Power (watts)                       0 non-null      object
 19  Date of Launch                      902 non-null    datetime64[ns]
 20  Expected Lifetime (yrs.)            296 non-null    float64
 21  Contractor                          902 non-null    object
 22  Country of Contractor               902 non-null    object
 23  Launch Site                         902 non-null    object
 24  Launch Vehicle                      902 non-null    object
 25  COSPAR Number                       902 non-null    object
 26  NORAD Number                        902 non-null    float64
 27  Comments                            2 non-null      object
dtypes: datetime64[ns](1), float64(9), object(18)
memory usage: 204.4+ KB

In [ ]:
newDataset.describe()

       Longitude of GEO (degrees)  ...  NORAD Number
count                       902.0  ...    902.000000
mean                          0.0  ...  45838.186253
std                           0.0  ...    741.878875
min                           0.0  ...  44238.000000
25%                           0.0  ...  45206.250000
50%                           0.0  ...  45747.500000
75%                           0.0  ...  46541.750000
max                           0.0  ...  47181.000000

[8 rows x 9 columns]

In [ ]:
finalDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 902 entries, 2117 to 3018
Data columns (total 21 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Current Official Name of Satellite  902 non-null    object
 1   Country/Org of UN Registry          902 non-null    object
 2   Country of Operator/Owner           902 non-null    object
 3   Users                               902 non-null    object
 4   Class of Orbit                      902 non-null    object
 5   Type of Orbit                       902 non-null    object
 6   Longitude of GEO (degrees)          902 non-null    float64
 7   Perigee (km)                        902 non-null    float64
 8   Apogee (km)                         902 non-null    float64
 9   Eccentricity                        902 non-null    float64
 10  Inclination (degrees)               902 non-null    float64
 11  Period (minutes)                    902 non-null    float64
 12  Launch Mass (kg.)                   902 non-null    float64
 13  Date of Launch                      902 non-null    datetime64[ns]
 14  Expected Lifetime (yrs.)            296 non-null    float64
 15  Contractor                          902 non-null    object
 16  Country of Contractor               902 non-null    object
 17  Launch Site                         902 non-null    object
 18  Launch Vehicle                      902 non-null    object
 19  COSPAR Number                       902 non-null    object
 20  NORAD Number                        902 non-null    float64
dtypes: datetime64[ns](1), float64(9), object(11)
memory usage: 155.0+ KB

In [ ]:
finalDf.reset_index(drop=True, inplace=True)
finalDf.insert(0, 'Satellite ID(Fake)', range(1, 1 + len(finalDf)))
finalDf.to_csv(r"SpaceX Satellite Dataset.csv")